@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
  background: linear-gradient(80deg,
      hsl(150deg 37% 86%) 0%,
      hsl(126deg 27% 88%) 8%,
      hsl(94deg 25% 87%) 16%,
      hsl(68deg 23% 87%) 26%,
      hsl(47deg 25% 88%) 35%,
      hsl(35deg 28% 89%) 46%,
      hsl(26deg 26% 90%) 57%,
      hsl(18deg 19% 90%) 69%,
      hsl(10deg 11% 90%) 83%,
      hsl(0deg 2% 90%) 100%);
}

.custom-box-shadow {
-webkit-box-shadow: 0px 0px 34px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 34px 5px rgba(0, 0, 0, 0.11);
}